
.square {
    height: 50px;
    width :50px;
}
#container {
    display: flex;
}
.line{
    display:flex;
    flex-direction: column;
    opacity:0.5;
    border:3px;
}

/*.square:hover{
    background-color:red;
    opacity: 1;
}*/
.hidden{
    background-color: blueviolet;
    opacity:1;
    margin:3px;
}
.show{
    background-color: black;
    opacity:0.5;
    margin:3px;
}