#bigcontainer{
    display: flex;
    justify-content:space-between;
    width:1000
}

button{
    align-self: flex-end;
    align-self: start;
}
.square {
    height: 9px;
    width:9px;
}
#container {
    display: flex;
    width:960px;
    height:960px;
    justify-content: center;
}
.line{
    display:flex;
    flex-direction: column;
    opacity:0.5;
}

/*.square:hover{
    background-color:red;
    opacity: 1;
}*/
.hidden{
    background-color: blueviolet;
    opacity:1;
}
.show{
    background-color: black;
    opacity:0.5;
}